<div class="illustration__container">
    <img class="illustration" src="images/illustration-1.svg" alt="">
</div>
<!-- Article child-2 -->
<div class="article__content">
    <h1>
        All your files in one secure location, accessible anywhere.
    </h1>
    <p>
        Fylo stores your most important files in one secure location. Access them wherever you need, share and collaborate with friends, family, and co-workers.
    </p>
    <form class="action action--row">
        <input type="text" name="email" aria-label="email" placeholder="Enter your email...">
        <button class="btn btn--row" type="submit">Get Started</button>
    </form>
</div>