<div class="card">
    <!-- Card child-1 -->
    <div class="card-quotes__container">
        <img src="images/icon-quotes.svg" alt="">
    </div>
    <!-- Card child-2 -->
    <div class="card__content">
        <p>Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.</p>
    </div>
    <!-- Card child-3 -->
    <div class="card__profile">
        <div class="card__profile-avatar">
            <img class="avatar" src="images/avatar-testimonial.jpg" alt="">
        </div>
        <div class="card__profile-info">
            <p>Kyle Burton</p>
            <p>Founder & CEO, Huddle</p>
        </div>
    </div>
</div>
