<div class="early-access__content">
    <h3>Get early access today</h3>
        <p>
            It only takes a minute to sign up and our free starter tier is extremely generous. If you have any questions, our support team would be happy to help you.
        </p>
</div>
<!-- Child-2 -->
<div class="early-access__action">
    <form class="action action--column">
        <input type="text" name="email" aria-label="email" placeholder="Enter your email...">
        <button class="btn" type="submit">Get Started</button>
    </form>
</div>