<div class="footer__left">
    <div>
        <img class="footer-image" style="fill: #fff;" src="images/logo.svg" alt="">
    </div>
    <div class="footer__contact footer--phone">
        <div><img src="images/icon-phone.svg" alt=""></div>
        <div>Phone:+1-543-123-4567</div>
    </div>
    <div class="footer__contact footer--email">
        <div><img src="images/icon-email.svg" alt=""></div>
        <div>example@flyo.com</div>
    </div>
</div>
<!-- Footer child-2 -->
<ul>
    <li>About Us</li>
    <li>Jobs</li>
    <li>Press</li>
    <li>Blog</li>
</ul>
<!-- Footer child-3 -->
<ul>
    <li class="footer--contact-us">Contact Us</li>
    <li>Terms</li>
    <li>Privacy</li>
</ul>
<!-- Footer child-4 -->
<div class="social-icons">
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-instagram"></i>
</div>