@import url('normalize.css');
@import url('general.css');
@import url('variables.css');
@import url('navbar.css');

/* ----Article---- */

.article{
    color: var(--very-dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .article{
        flex-direction: row-reverse;
        text-align: start;
    }
}

/* .article--start{
    text-align: start;
} */

.illustration__container{
    width: 80vw;
}

.illustration{
    width: 100%;
}

.sign__in{
    width: 80%;
}

@media screen and (min-width: 1024px) {
    .article__content{
        flex: 1;
    }

    .illustration__container{
        flex: 1;
    }
}

/* Article-2 */

.article-2{
    /* background-color: var(--light-grayish-blue); */
    background-image: url(/bg/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

@media screen and (min-width: 1024px) {
    .article-2{
        background-image: url(/bg/bg-curve-desktop.svg);
    }
}
.article__content--start p{
    text-align: start;
}

/* Inputs */

input[type='text']{
    font-size: 1.3rem;
    padding-right: 30px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    outline: 0;
    /* overflow: scroll; */
}

@media screen and (min-width: 1024px) {
    input[type='text']{
        margin-right: 20px;
        margin-bottom: 0;
        padding-right: 60px;
        width: 60%;
    }
}

::placeholder{
    font-size: 1.3rem;
    color: var(--light-gray);
}

/* Action */

.action{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    .action{
        flex-direction: row;
        margin: 0;
    }

    .action--row{
        /* width: 80%; */
    }
}

.action--big{
    /* width: 80%; */
}

/* Buttons */

.btn{
    background: var(--bright-blue);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 30px;
}

@media screen and (min-width: 1024px) {
    .btn--row {
        padding: 10px 40px;
    }
}

/* Testimonial */

.testimonial{
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    .testimonial{
        justify-content: start;
    }
}

/* Cards */

.card{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    font-size: 1.3rem;
    width: 300px;
    padding: 20px;
    text-align: start;
}

.card__profile-avatar{
    width: 30px;
    margin-right: 20px;
}

.avatar{
    border-radius: 100%;
    width: 100%;
}

.card__profile{
    display: flex;
    margin-top: 10px;
}

.card__profile-info p:first-of-type{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
}

.card__profile-info p:last-of-type{
    font-size: 1.2rem;
}

.card__profile p{
    margin-top: 0;
    margin-bottom: 0;
}

/* Links */

.link__container{
    margin-top: 10px;
    margin-bottom: 30px;
}

.flyo-link{
    color: var(--moderate-cyan);
}

/* ----Early access---- */

.early-access{
    background: var(--desaturated-blue);
    text-align: center;
    color: #fff;
    padding: 40px 30px;
}

@media screen and (min-width: 1024px) {
    .early-access{
        display: flex;
        text-align: start;
    }

    .early-access__content{
        flex: 1;
    }

    .early-access__content p{
        max-width: 501px;
    }
    
    .early-access__action{
        flex: 1;
    }

    .action--column{
        display: flex;
        flex-direction: column;
    }

    .early-access__action input{
        margin-right: 0;
        align-self: flex-end;
        width: 100%;
    }

    .early-access__action .btn{
        width: 30%;
        margin-top: 10px;
    }
}

.early-access .btn{
    border-radius: 0;
}

/* Footer */

@media screen and (min-width: 1024px) {
    .footer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        font-size: 1.5rem;
        padding: 100px 50px;
        column-gap: 20px;
    }

    .footer__left {
        margin-top: -50px;
    }
}

.footer-image {
    margin-bottom: 20px;
}

@media screen and (min-width: 1024px) {
    .footer-image{
        margin-bottom: 15px;
    }
}

.footer__contact{
    display: flex;
}

.footer__contact img{
    margin-right: 10px;
}

.footer--phone{
    margin-bottom: 10px;
}

.footer--email{
    margin-bottom: 40px;
}

@media screen and (min-width: 1024px) {
    .footer--email{
        margin-bottom: 0;
    }
}

.footer li{
    margin-bottom: 10px;
}

.footer--contact-us{
    margin-top: 30px;
}

@media screen and (min-width: 1024px) {
    .footer--contact-us{
        margin-top: 0;
    }
}

/* Social-icons*/

.social-icons{
    text-align: center;
}

.fa-brands{
    border: 1px solid var(--light-gray);
    border-radius: 80%;
    color: #fff;
    cursor: pointer;
    padding: 7px;
    margin-right: 5px;
    margin-top: 10px;
    transition: all 0.5s;
}